.biosec__management__sytsem__create__button{
  &--icon-container{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background: #9E59B0;
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    position: fixed;
    z-index: 100;
    right: 3rem;
    bottom: 3rem;
    outline: none;
  }
}

